In [6]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [15]:
data = pd.read_csv('heart_statlog_cleveland_hungary_final.csv')
data
x = data.iloc[:,:-1]
y = data.iloc[:,-1]
x
y

0       0
1       1
2       0
3       1
4       0
       ..
1185    1
1186    1
1187    1
1188    1
1189    0
Name: target, Length: 1190, dtype: int64

# Handling Missing Values

In [4]:
data.isnull().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           3
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
target                 0
dtype: int64

In [18]:
from sklearn.impute import SimpleImputer
# Initialize SimpleImputer with desired strategy
imputer = SimpleImputer(strategy='mean')  # Other strategies: 'median', 'most_frequent', 'constant'

# Fit and transform the imputer on the features
X_imputed = imputer.fit_transform(x)

# Convert the imputed array back to a DataFrame
X_imputed_df = pd.DataFrame(X_imputed, columns=x.columns)

In [19]:
X_imputed_df.isnull().sum()

age                    0
sex                    0
chest pain type        0
resting bp s           0
cholesterol            0
fasting blood sugar    0
resting ecg            0
max heart rate         0
exercise angina        0
oldpeak                0
ST slope               0
dtype: int64

In [21]:
data['resting bp s'].fillna(data['resting bp s'].mean(),inplace=True)
data

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope,target
0,40,1,2,140.0,289,0,0,172,0,0.0,1,0
1,49,0,3,160.0,180,0,0,156,0,1.0,2,1
2,37,1,2,130.0,283,0,1,98,0,0.0,1,0
3,48,0,4,138.0,214,0,0,108,1,1.5,2,1
4,54,1,3,150.0,195,0,0,122,0,0.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
1185,45,1,1,110.0,264,0,0,132,0,1.2,2,1
1186,68,1,4,144.0,193,1,0,141,0,3.4,2,1
1187,57,1,4,130.0,131,0,0,115,1,1.2,2,1
1188,57,0,2,130.0,236,0,2,174,0,0.0,2,1
1189,38,1,3,138.0,175,0,0,173,0,0.0,1,0

In [25]:
x = data.drop(columns =['target'])
y = data['target']
x

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,40,1,2,140.0,289,0,0,172,0,0.0,1
1,49,0,3,160.0,180,0,0,156,0,1.0,2
2,37,1,2,130.0,283,0,1,98,0,0.0,1
3,48,0,4,138.0,214,0,0,108,1,1.5,2
4,54,1,3,150.0,195,0,0,122,0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...
1185,45,1,1,110.0,264,0,0,132,0,1.2,2
1186,68,1,4,144.0,193,1,0,141,0,3.4,2
1187,57,1,4,130.0,131,0,0,115,1,1.2,2
1188,57,0,2,130.0,236,0,2,174,0,0.0,2
1189,38,1,3,138.0,175,0,0,173,0,0.0,1

# Normalization

In [24]:
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler

scaler = StandardScaler()
minmax = MinMaxScaler()

#scaler.fit(x)
#minmax.fit(x)

x_scaled = scaler.fit_transform(x)
x_minmax = minmax.fit_transform(x)
x_minmax
pd.DataFrame(x_minmax, columns=x.columns)

,age,sex,chest pain type,resting bp s,cholesterol,fasting blood sugar,resting ecg,max heart rate,exercise angina,oldpeak,ST slope
0,0.244898,1.0,0.333333,0.70,0.479270,0.0,0.0,0.788732,0.0,0.295455,0.333333
1,0.428571,0.0,0.666667,0.80,0.298507,0.0,0.0,0.676056,0.0,0.409091,0.666667
2,0.183673,1.0,0.333333,0.65,0.469320,0.0,0.5,0.267606,0.0,0.295455,0.333333
3,0.408163,0.0,1.000000,0.69,0.354892,0.0,0.0,0.338028,1.0,0.465909,0.666667
4,0.530612,1.0,0.666667,0.75,0.323383,0.0,0.0,0.436620,0.0,0.295455,0.333333
...,...,...,...,...,...,...,...,...,...,...,...
1185,0.346939,1.0,0.000000,0.55,0.437811,0.0,0.0,0.507042,0.0,0.431818,0.666667
1186,0.816327,1.0,1.000000,0.72,0.320066,1.0,0.0,0.570423,0.0,0.681818,0.666667
1187,0.591837,1.0,1.000000,0.65,0.217247,0.0,0.0,0.387324,1.0,0.431818,0.666667
1188,0.591837,0.0,0.333333,0.65,0.391376,0.0,1.0,0.802817,0.0,0.295455,0.666667
1189,0.204082,1.0,0.666667,0.69,0.290216,0.0,0.0,0.795775,0.0,0.295455,0.333333

# Handling Oversample Data

In [23]:
#count = data['target'].value_counts()
#count
#from imblearn.over_sampling import SMOTE
# Perform oversampling using SMOTE
#smote = SMOTE(random_state=42)
#X_train_resampled, y_train_resampled = smote.fit_resample(x_scaled, y)

1    629
0    561
Name: target, dtype: int64

# Outliers Detection and remove

In [ ]:
Q1 = data[column_with_outliers].quantile(0.25)
Q3 = data[column_with_outliers].quantile(0.75)

# Calculate the interquartile range (IQR)
IQR = Q3 - Q1

# Define lower and upper bounds for identifying outliers
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Identify and optionally remove outliers
data_no_outliers = data[(data[column_with_outliers] >= lower_bound) & (data[column_with_outliers] <= upper_bound)]

# The 'data_no_outliers' DataFrame now contains data without outliers

# Training and Predicting Model

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x_scaled,y,test_size=0.2,random_state=1)
xtrain.shape

In [32]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression()
model = lr.fit(xtrain,ytrain)
predict = model.predict(xtest)
predict

array([0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 1,
       1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1,
       1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1], dtype=int64)

# Performance

In [36]:
from sklearn.metrics import accuracy_score
acc = accuracy_score(ytest,predict)
acc

0.8445378151260504

In [37]:
from sklearn.metrics import confusion_matrix
confusion_matrix(ytest,predict)

array([[ 95,  16],
       [ 21, 106]], dtype=int64)

In [38]:
from sklearn.metrics import classification_report
cls = classification_report(ytest,predict)
print(cls)

              precision    recall  f1-score   support

           0       0.82      0.86      0.84       111
           1       0.87      0.83      0.85       127

    accuracy                           0.84       238
   macro avg       0.84      0.85      0.84       238
weighted avg       0.85      0.84      0.84       238